<h1>Listing menus</h1>

<table>
  <thead>
    <tr>
      <th> Name </th><th> Type </th><th> Published</th><th> ID </th><th></th>
    </tr>
  </thead>
<% @menus.each do |menu| %>
  <tr><td class="table_name"><%= link_to menu.name, menu %></td>
      <td><%= menu.type %></td>
      <td><% if menu.published %>
            Yes
          <% else -%>
	    No
	  <% end -%>
      </td>
      <td><%= menu.id %></td>
      <td> 
        <%= link_to 'Edit', edit_menu_path(menu) %> |
        <%= link_to 'Destroy', menu, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  <tfoot>
    <tr>
      <th> Name </th><th> Type </th><th> Published</th><th> ID </th><th></th>
    </tr>
  </tfoot>

</table>

<br />

<%= link_to 'New menu', new_menu_path %>
