<h1>Listing menus</h1>

<table>
  <thead>
    <td> Name </td><td> Type </td><td> Published</td><td> ID </td><td></td>
  </thead>
<% @menus.each do |menu| %>
  <tr><th><%= menu.name %></th>
      <td><%= menu.type %></td>
      <td><% if menu.published %>
            Yes
          <% else -%>
	    No
	  <% end -%>
      </td>
      <td><%= menu.id %></td>
      <td><%= link_to 'Show', menu %> | 
        <%= link_to 'Edit', edit_menu_path(menu) %> |
        <%= link_to 'Destroy', menu, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New menu', new_menu_path %>
