<h1><%= @menu.name %> </h1>

<% if @menu.published %>
  Is published
<% else %>
  Is not published
<% end %>
<div class="action_menu">
    <%= link_to "Add Link", :action => "add_link", :id => @menu.id %>
</div>

<% if !@menu.links.empty? -%>
  <ul>
  <% for link in @menu.links %>
   <li><%= link.name %></li> 
  <% end -%>
  </ul>
<% else -%>
  <p>There is no link in this menu</p>
<% end -%>


<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
