<h1><%= @menu.name %> 
<span class="title_button">
   <%= link_to "Add Link", :action => "add_link", :id => @menu.id %>
</span>
</h1>

<fieldset>
  <legend>General information</legend>
<% if @menu.published %>
  Is published
<% else %>
  Is not published
<% end %>


</fieldset>

<fieldset>
  <legend>Links</legend>
<% if !@menu.links.empty? -%>
  <table>
    <thead>
	<tr>
	    <th class="column_link">Link</th>
	    <th>Page</th>
	    <th class="column_published">Is published</th>
	    <th></th>
	</tr>
    </thead>
    <tbody>
      <% for link in @menu.links %>
         <tr>
	    <td><%= link_to link.name, link %></td> 
	    <td><%= link_to link.page.title, link.page  %> </td> 
	    <td><% if link.published%>
	           Yes
		<% else %>
		   No
		<% end %>
	    </td>
	    <td> <%= link_to 'Destroy', link, :confirm => "Are you sure ?",
		 :method => 'delete' %> | 
		 <%= link_to 'Add Submenu', 
	               :controller => 'links', 
		       :action => 'add_submenu', 
		       :id => link.id %>
	    </td>
	 </tr>
        <% if !link.submenu.nil? %>
	<tr class="submenu">
	    <td class="submenu"><%= link_to link.submenu.name, link.submenu %></td> 
	    <td></td> 
	    <td><% if link.submenu.published%>
	           Yes
		<% else %>
		   No
		<% end %>
	    </td>
	    <td> Edit| Destroy | <%= link_to "Add link", :action =>
	    "add_link", :id => link.submenu.id %></td>
	 </tr>
      <% for l in link.submenu.links %>
         <tr class="link submenu">
	    <td class="submenu"><%= link_to l.name, l %></td> 
	    <td><%= link_to l.page.title, l.page  %> </td> 
	    <td><% if l.published%>
	           Yes
		<% else %>
		   No
		<% end %>
	    </td>
	    <td> <%= link_to 'Edit', edit_menu_path(l) %> | Destroy</td>
	 </tr>
	   <% end -%>
	 <% end -%>
      <% end -%>
  </tbody>
  <tfoot>
    <tr>
	<th>Link</th>
	<th>Page</th>
	<th>Is published</th>
	<th></th>
    </tr>
  </tfoot>
</table>


<% else -%>
  <p>There is no link in this menu</p>
<% end -%>
</legend>
<%= link_to 'Back', menus_path %>
