<h1><%= @menu.name %> </h1>

<% if @menu.published %>
  Is published
<% else %>
  Is not published
<% end %>
<div class="action_menu">
    <%= link_to "Add Link", :action => "add_link", :id => @menu.id %>
</div>

<% if !@menu.links.empty? -%>
  <table>
    <thead>
	<tr>
	    <th>Link</th>
	    <th>Page</th>
	    <th>Is published</th>
	    <th></th>
	</tr>
    </thead>
    <tbody>
      <% for link in @menu.links %>
         <tr>
	    <td><%= link_to link.name, link %></td> 
	    <td><%= link_to link.page.title, link.page  %> </td> 
	    <td><% if link.published%>
	           Yes
		<% else %>
		   No
		<% end %>
	    </td>
	    <td> <%= link_to 'Edit', edit_menu_path(link) %> | Destroy | <%=
	    link_to 'Add Submenu', 
	             :controller => 'link', 
		     :action => 'add_submenu', 
		     :id => link.id%></td>
	 </tr>
        <% if !link.menu.nil? %>
	<tr class="sub_menu">
	    <td><%= link_to link.menu.name, link.menu %></td> 
	    <td></td> 
	    <td><% if link.menu.published%>
	           Yes
		<% else %>
		   No
		<% end %>
	    </td>
	    <td> Edit| Destroy | Add Link</td>
	 </tr>
	 <% end %>
      <% end -%>
  </tbody>
  <tfoot>
    <tr>
	<th>Link</th>
	<th>Page</th>
	<th>Is published</th>
	<th></th>
    </tr>
  </tfoot>
</table>


<% else -%>
  <p>There is no link in this menu</p>
<% end -%>


<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
