<% form_for :link, @link do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :menu %><br />
    <%= f.text_field :menu_id %>
  </p>
  <p>
    <%= f.label :page %><br />
    <%= f.text_field :page_id %>
  </p>

  <p>
    <%= f.submit 'Create' %>
  </p>
  <p>
    <%= f.label :published %><br />
    <%= f.check_box :published %>
  </p>

<% end %>

