<h1>Editing page</h1>

<% form_for(@page) do |f| %>
  <%= f.error_messages %>
  <%= f.label :title %>
  <%= f.text_field :title %> <br />
  <%= f.label :content %>
  <%= f.text_area :content %> <br />
  <%= f.label :published %>
  <%= f.check_box :published %> <br />

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @page %> |
<%= link_to 'Back', pages_path %>
