<h1>Listing pages</h1>

<table>
  <thead>
    <tr><th>Title </th><th> Published </th><th> ID </th><th></th></tr>
  </thead>

<% @pages.each do |page| %>
  <tr><td class="table_title"><%=h page.title %></td>
    <td><% if page.published %>
	  yes
        <% else -%>
	  no
	<% end -%>
    </td>
    <td><%= page.id %></td>
    <td class="table_actions"><%= link_to 'Show', page %> |
    <%= link_to 'Edit', edit_page_path(page) %> |
    <%= link_to 'Destroy', page, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  <tfoot>
    <tr><th>Title </th><th> Published </th><th> ID </th><th></th></tr>
  </tfoot>
</table>

<br />

<%= link_to 'New page', new_page_path %>
